.dashboard {
  display: flex;
  flex-direction: row;
}

.dashboardContainer {
  display: flex;
  flex-direction: column;
  background-color: #e4e4e4;
  flex-grow: 1;
  justify-content: stretch;
}

.note {
  margin: 10px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}

.dashboardSummary {
  display: flex;
  padding: 20px;
  background-color: rgba(70, 117, 218, 0.842);
  border: 2px solid rgba(70, 117, 218);
  gap: 20px;
  flex-wrap: wrap;
}

.dashboardSummaryElement {
  flex-grow: 1;
  background-color: rgb(255, 233, 174);
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  font-family: 'Robodo', Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.836);
}

.charts {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.lineChart {
  border: 2px solid rgba(70, 117, 218);
  border-radius: 10px;
  box-sizing: border-box;
  position: relative;
  background-color: rgba(70, 117, 218, 0.842);
  margin: 10px;
  padding: 10px 20px;
}

.doughnutChart {
  background-color: rgba(70, 117, 218, 0.842);
  display: flex;
  align-items: center;
  border: 2px solid rgba(70, 117, 218);
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
}

@media screen and (max-width: 1000px) {
  .dashboardSummary {
    justify-content: center;
  }
}

@media screen and (max-width: 900px) {
  .dashboard {
    flex-direction: column;
  }
}

@media screen and (max-width: 750px) {
  .charts {
    flex-direction: column;
  }
}