.updateOrderForm {
  margin: 3rem;
  padding: 3rem;
  background-color: white;
  box-shadow: 0 0 10px -2px grey;
  border-radius: 10px;
}

.updateOrderForm > h1 {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  color: rgba(0, 0, 0, 0.767);
}

.updateOrderForm > div {
  display: flex;
  width: 100%;
  align-items: center;
}
.updateOrderForm > div > select {
  padding: 1vmax 4vmax;
  margin: 2rem 0;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.267);
  border-radius: 4px;
  outline: none;
}

.updateOrderForm > div > svg {
  position: absolute;
  transform: translateX(1vmax);
  color: rgba(0, 0, 0, 0.623);
}
