.reviewCard {
  flex: none;
  box-shadow: 0 0 8px -2px rgba(0, 0, 0, 0.226);
  border: 1px solid rgba(56, 56, 56, 0.116);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.reviewCard > img {
  width: 50px;
}

.reviewCard > p {
  color: rgba(0, 0, 0, 0.836);
  margin-top: 10px;
  margin-bottom: 5px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}
.reviewCardComment {
  width: 100%;
  margin-top: 10px;
  word-wrap: break-word;
  color: rgba(0, 0, 0, 0.445);
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}