.confirmOrderPage {
  background-color: rgb(236, 236, 236);
  display: flex;
}

.confirmOrderPage > div:first-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  gap: 50px;
  padding: 3rem;
}

.confirmOrderPage > div:last-child {
  border-left: 1px solid rgba(0, 0, 0, 0.247);
}

.confirmshippingArea,
.confirmCartItems {
  padding: 30px 40px;
  background-color: white;
  box-shadow: 0 0 10px -2px grey;
}

.confirmCartItems > p {
  text-decoration: underline;
}

.confirmshippingArea > p {
  text-decoration: underline;
}

.confirmshippingAreaBox > div {
  display: flex;
  margin: 10px 0;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.confirmshippingAreaBox > div > p {
  color: black;
}

.confirmshippingAreaBox > div > p:first-child {
  white-space: nowrap;
}

.confirmshippingAreaBox > div > p:last-child {
  margin: 0 5px;
  color: #575757;
  font-size: 14px;
  display: flex;
  align-items: flex-end;
}

.confirmCartItemsContainer {
  overflow-y: auto;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-columns: max-content max-content max-content max-content max-content;
  gap: 20px;
  margin-top: 20px;
}

.confirmCartItemsContainer > div {
  display: grid;
  grid-column: span 5;
  grid-template-columns: subgrid;
  align-items: center;
  border-bottom: 1px solid grey;
  border: 1px solid grey;
  padding: 1rem 1.5rem;
}

.confirmCartItemsContainer > div > div {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(223, 223, 223);
  padding: 2px;
}

.confirmCartItemsContainer > div > div > img {
  max-width: 100%;
  max-height: 100%;
}

.confirmCartItemsContainer > div > a {
  color: #575757;
  text-decoration: underline;
  justify-self: start;
}

.confirmCartItemsContainer > div > span {
  color: #5e5e5e;
  white-space: nowrap;
  justify-self: center;
}

.confirmCartItemsContainer > div > b {
  margin-left: 5px;
  color: #5e5e5e;
  white-space: nowrap;
  justify-self: end;
}

.orderSummary {
  margin: 3rem;
  padding: 40px;
  background-color: white;
  box-shadow: 0 0 10px -2px grey;
}

.orderSummary > p {
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.267);
  padding: 1vmax;
  width: 100%;
  box-sizing: border-box;
}

.orderSummary > div {
  font-family: 'Robodo', Arial, Helvetica, sans-serif;
}

.orderSummary > div > div {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 1.5rem 0;
}

.orderSummary > div > div > p {
  margin-right: 3rem;
}

.orderSummary > div > div > span {
  color: rgba(0, 0, 0, 0.692);
  white-space: nowrap;
}

.orderSummaryTotal {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgba(0, 0, 0, 0.363);
  padding: 2vmax 0;
}

.orderSummary > button {
  background-color: var(--primary-color);
  color: white;
  width: 100%;
  padding: 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif !important;
}

.orderSummary > button:hover {
  background-color: var(--secondary-hover);
}

@media screen and (max-width: 900px) {
  .confirmOrderPage {
    flex-direction: column;
    padding: 1rem 0;
  }

  .confirmshippingArea {
    padding: 1rem;
  }

  .confirmCartItems {
    padding: 1rem;
  }

  .orderSummary {
    margin: 10px 10px 0;
    padding: 1rem;
  }

  .orderSummary > div > div > p {
    margin: 0;
  }

  .confirmOrderPage > div:first-child {
    padding: 10px;
    gap: 20px;
  }

}

@media screen and (max-width: 600px) {

  .confirmCartItemsContainer {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
  }

  .confirmCartItemsContainer > div {
    grid-column: span 3;
  }


  .confirmCartItemsContainer > div > a {
    grid-column: 2 / -1;
    justify-self: center;
  }

  .confirmCartItemsContainer > div > span {
    justify-self: start;
    margin: 5px 0;
  }

  .confirmCartItemsContainer > div > b {
    justify-self: end;
    margin: 5px 0;
  }
}