.orderSuccess {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
  color: green;
}

.orderSuccess > p {
  margin: 30px 0;
  font-size: larger;
}

.orderSuccess > a {
  background-color: var(--primary-color);
  padding: 15px;
  color: white;
  transition: all 0.2s;
  border-radius: 10px;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

.orderSuccess > a:hover {
  background-color: var(--secondary-hover);
}
