.paymentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(236, 236, 236);
}

.paymentContainer > h3 {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  color: rgb(53, 53, 53);
  margin: 0 1rem;
}

.paymentContainer > h3:first-child {
  margin-top: 30px;
}

.paymentForm {
  min-width: 18em;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 20px 50px 50px;
  padding: 30px;
  box-shadow: 0 0 10px -2px grey;
}

.paymentForm > p {
  color: rgba(0, 0, 0, 0.753);
  text-align: center;
  margin-bottom: 5px;
}

.paymentForm > div {
  display: flex;
  align-items: center;
  margin: 10px 0;
  width: 100%;
}

.paymentInput {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.267);
  border-radius: 4px;
  outline: none;
  padding: 0.6em 0.6em 0.6em 2.3em;
}

.paymentForm > div > svg {
  position: absolute;
  transform: translateX(0.3em);
  color: rgba(0, 0, 0, 0.623);
}

.paymentFormBtn {
  border: none;
  background-color: var(--primary-color);
  color: white;
  width: 100%;
  padding: 1.2em;
  cursor: pointer;
  transition: all 0.5s;
  outline: none;
  margin: 20px 0 10px;
}

.paymentFormBtn:hover {
  background-color: var(--secondary-hover);
}
