.banner {
  background-image: url('/cover.jfif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vmin;
  min-height: 400px;
  position: relative;
}

.bannerContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  color: rgb(203, 233, 248);
  font-size: clamp(0.7rem, 1vw, 1.7rem);
}

.bannerContainer > h1,
.bannerContainer > h2 {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  text-align: center;
}

.bannerContainer > a > button {
  margin-bottom: 5vmax;
  cursor: pointer;
  background-color: white;
  border: 1px solid white;
  border-radius: 0;
  padding: 0.8em 1.5em;
  transition: all 0.2s;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-size: 1em;
}

.bannerContainer > a > button:hover {
  background-color: rgba(255, 255, 255, 0);
  color: white;
}

.banner::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  clip-path: polygon(100% 68%, 0 100%, 100% 100%);
  max-width: 100%;
}

.homeHeading {
  text-align: center;
  border-bottom: 1px solid rgba(21, 21, 21, 0.5);
  width: 20vmax;
  padding: 1vmax;
  margin: 0 auto;
  color: rgb(0, 0, 0, 0.7);
}

.container {
  display: flex;
  justify-content: center;
  margin: 2vmax auto;
  width: 80vw;
  flex-wrap: wrap;
  max-width: 100%;
}

@media screen and (max-width: 430px) {
  .banner::after {
    width: 0;
    height: 0;
  }

  .bannerContainer {
    padding: 30px;
  }

  .bannerContainer > h1, h2 {
    margin: 20px 0;
  }

  .homeHeading {
    margin-top: 20px;
  }

  .container {
    margin-bottom: 20px;
  }

}
