.banner {
  background-image: url('/cover.jfif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
}

.bannerContainer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  background-color: rgba(0, 0, 0, 0.699);
  color: rgb(203, 233, 248);
  width: 100%;
}

.bannerContainer > div > h4 {
  color: rgb(203, 233, 248);
}

.bannerContainer> div > h1,
.bannerContainer> div > h2,
.bannerContainer> div > h4 {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  text-align: center;
}

.bannerContainer > div > a > button {
  cursor: pointer;
  background-color: white;
  border: 1px solid white;
  border-radius: 0;
  padding: 0.8em 1.5em;
  transition: all 0.2s;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-size: 0.8em;
}

.bannerContainer > div > a > button:hover {
  background-color: rgba(255, 255, 255, 0);
  color: white;
}

.bannerAfter {
  content: '';
  width: 100%;
  background-color: white;
  max-width: 100%;
  clip-path: polygon(100% 0, 0 100%, 100% 100%);
  height: 30vh;
  position: relative;
  top: 1px;
}

.banner1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 2rem;
  max-width: 600px;
  margin: 3rem auto 0;
}

.banner1 > h1,.banner1 > h4 {
  margin: 1rem;
}

.homeHeading {
  text-align: center;
  border-bottom: 1px solid rgba(21, 21, 21, 0.5);
  width: 20vmax;
  padding: 1vmax;
  margin: 0 auto;
  color: rgb(0, 0, 0, 0.7);
}

.container {
  display: flex;
  justify-content: center;
  margin: 2vmax auto;
  width: 80vw;
  flex-wrap: wrap;
  max-width: 100%;
}

@media screen and (max-width: 430px) {

  .bannerContainer > a > button {
    margin-bottom: 0;
  }

  .bannerContainer > h1 h2 {
    margin: 20px 0;
  }
 
  .homeHeading {
    margin-top: 20px;
  }

  .container {
    margin-bottom: 20px;
  }

}
